<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.shadow578.tenshi.extensionslib">

    <!-- query content adapter services -->
    <queries>
        <intent>
            <action android:name="io.github.shadow578.tenshi.content.ADAPTER" />
        </intent>
    </queries>

    <application/>
</manifest>